# GCP project
#test
GHARCHIVE_GCP_PROJECT_ID=gharchive-events-platform-01

#GHARCHIVE_GCP_PROJECT_ID=your-gcp-project-id
GHARCHIVE_GCP_REGION=us-central1

# GCS
GHARCHIVE_GCS_BUCKET_NAME=gharchive-events-platform-raw-dev
GHARCHIVE_GCS_RAW_PREFIX=gharchive/raw
GHARCHIVE_GCS_PROCESSED_PREFIX=gharchive/processed

# Bigquery
GHARCHIVE_BQ_DATASET=gh_events_trends_dev

# Dataproc Serverless (Airflow DataprocCreateBatchOperator); required for transform tasks
GHARCHIVE_DATAPROC_SERVICE_ACCOUNT=gharchive-runner@gharchive-events-platform-01.iam.gserviceaccount.com

# Partition date = logical ds minus this many days (align with GH Archive publish lag)
GHARCHIVE_PIPELINE_DATA_DATE_LAG_DAYS=1

# Local credential file path on your machine
GHARCHIVE_GOOGLE_APPLICATION_CREDENTIALS_LOCAL=/Users/karenjian/secrets/gharchive-events-platform-key.json