# GCP project
#test
GHARCHIVE_GCP_PROJECT_ID=gharchive-events-platform-01

#GHARCHIVE_GCP_PROJECT_ID=your-gcp-project-id
GHARCHIVE_GCP_REGION=us-central1

# GCS
GHARCHIVE_GCS_BUCKET_NAME=gharchive-events-platform-raw-dev
GHARCHIVE_BQ_TEMP_GCS_BUCKET=gharchive-events-platform-bq-temp
GHARCHIVE_GCS_PREFIX=gharchive/raw

# Bigquery
GHARCHIVE_BQ_DATASET=gh_events_trends_dev

# Local credential file path on your machine
GHARCHIVE_GOOGLE_APPLICATION_CREDENTIALS_LOCAL=/Users/karenjian/secrets/gharchive-events-platform-key.json